@import "bootstrap/bootstrap";

@btn-font-weight: 300;
@font-family-sans-serif: "Roboto", Helvetica, Arial, sans-serif;

body, label, .checkbox label {
	font-weight: 300;
}

#footer {
	text-align: center; 
	border-top: 1px solid #ddd;
	margin: 50px 0; 
	padding: 20px;
}

#myCarousel {
	margin-top: 50px;
	.carousel-inner {
		.item {
			height: 320px;
			img {
	    		margin: 0 auto;
	    		height: 100%;
	    		width: 50%;
			}
		}
	}
}

.login-panel {
    margin-top: 25%;
}

.tab-norm {
	margin-top: 20px;
}

/*input post tab*/
div.radius_shadow { 
	border:1px solid #DBDBDB;
	-moz-border-radius:5px;
	-khtml-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius: 5px;
	padding:5px;
	-webkit-box-shadow:0 0 10px #414141;
	-moz-box-shadow:0 0 10px #414141;
	box-shadow:0 0 10px #414141;
	font-size:12px;
	background:#fff;
}
span#radius { 
	display:inline-block;
	float:none;font-size:12px;
	padding:2px 5px;
	margin:-2px 5px 15px;
	border:1px solid #E0E0E0; 
	background-color:#F0F0F0;
	-moz-border-radius:5px;
	-khtml-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius: 5px;
	color:#000;
}
.tabinput {
	margin-left:5px;
	border:0;
}
a#deltab { 
	cursor:pointer;
	display:inline-block;
	color:#808080;
	margin-left:5px;
	font-weight:bold;
	:hover {
		color:#D2D2D2;
		text-decoration:none;
	}
}

.login-vline {
	position: absolute;
	height: 40%;
	border-left: 1px solid #eee;
	left: 50%;
	top: 20%;
}

#labeler-assign-table a {
	text-decoration: none;
	color: white;
}