
* {
	padding: 0;
	margin: 0;
}
body{
	position:relative;
}
body {
	font-family: "ו",Arial,Helvetica,sans-serif;
	padding:0px;
	height:100%;
	background-color:#FFFFFF;
}
#content {
	MARGIN:0 AUTO;
	width:1024px;
	vertical-align:middle; 
	position:relative;
	background-color:#FFFFFF;
	overflow:hidden;
}
#middle {
	position:relative;
	width: 100%;
	height:auto;
	top: 10px;
	left:0px;
	vertical-align:middle;
	background-color:#FFFFFF;
	table-layout:fixed;
	word-wrap:break-word;
}

#right {
	float:right;
	width:860px;
	height:100%;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
}
 
object:focus { outline:none; }
#flashContent { 
	float:left;
    display:none; 
    vertical-align:middle;
     }

#footer {
	float:left;
	width: 100%;
	height:50px;
	font-size: 12px;
	margin-top:140px;
	padding-bottom:50px;
	padding-top:10px;
	text-align:center;
	vertical-align:middle; 
	background-color:#FFFFFF;
}
#footer p {
	margin-top:10px;
	padding-top:10px;
	width: 960px;
}
	
